*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator{
   margin-top:10%;
   background: lightgrey;
   padding:20px;
}
.header{
    margin-bottom: 30px;
}
#output{
    width: 100%;
   height: 80px;
   background: white;
   font-size: 30px;
   margin-bottom: 20px;
   display: block;
   overflow-x: scroll;
   padding: 5px;
}
#output::-webkit-scrollbar{
    display: none;
}
button{
    width: 90%;
    height: 90%;
    margin:9px;
    border:none;
    outline:none;
}
button:hover{
    outline: none;
}